.side_bar{
    direction: ltr;
    width: 270px;
    height: 100%;
     position: fixed; 
    background-color: #252B42;
    z-index: 50;
}

 /* .linklist{
    margin-left-right :auto !important;
} */

.linklist{
    width: 60%;
    margin: auto;
}

.link{
    border-radius: 4px !important;
    width: 100%;
}
.link a{
   justify-content: start;
}
  .linklist .link:hover {
     background-color: #00C1FE !important;
     border-radius: 4px;
    
} 


.navbar{
    width: calc(100% - 270px);
    left: 270px;
    top: O;
    height: 62px;
    position: fixed;
    z-index: 40;
}
.side_bar ul li,
.navbar ul li{
    list-style: none;
}
.side_bar ul li a,
.navbar ul li a{
    text-decoration: none;
    color: black;
}


@media screen and (max-width:920px) {
    .side_bar{
        display: none;
    }
    .side_bar.active{
        display: block;
    }

}